.home-rows {
    display: flex;
    flex-direction: column;
}

.home-card-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: flex-start;
}

.home-card-row-container {
    margin-left: 5dvw;
    margin-bottom: 2dvh;
}