
.login-signup-container {
    display: flex;
    flex-direction: row;
    height: 95dvh;
    transform: translate(1dvw, 0dvh);
}

.login-signup-col1 {
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30dvh;
    font-size: 60px;
}

.login-signup-col2 {
    width: 40%;
    align-items: center;
    background-color: #272727;

}

.signup-link, .signup-text {
    font-size: 20px;
    margin-left: 10px;
}

.signup-link {
    color: aquamarine;
}

.signup-link:hover {
    color: aquamarine;
}


form.signup, form.login {
font-size: 4vh;
margin-top: 20vh;
margin-left: 5vb;
background: #272727;
}

.form-input {
    font-size: 3vh;
    height: 4vh;
    width: 60vb;
}

form.signup button, form.login button {
font-size: 30px;
padding: 5px;
width: 150px;
}
