.game-image-container {
    overflow: hidden; 
    background-color: white;
    display: flex;
    justify-content: center;
}

.game-image {
    position: relative;
    max-width: 100%;
    max-height: 100%; 
    object-fit: cover;
    width: auto;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}