
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Loading-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

/* ADDITIONS START HERE */
.image-container {
  overflow: hidden; 
  background-color: white;
}

.image {
  position: relative;
  max-width: 100%;
  max-height: 100%; 
  object-fit: cover;
  width: auto;
  height: auto; 
  display: block; 
  margin: 0 auto; 
}

.title {
  font-size: 72px;
}

.input-box {
  width: 950px;
  height: 50px;  
  font-size: 36px;
}
.guess-button {
  width: 150px;
  height: 50px;  
  font-size: 36px;
}

.skip-button {
  width: 150px;
  height: 50px;
  font-size: 36px;
}

.score {
  font-size: 40px;
}

.timer {
  font-size: 50px;
}

.state-button {
  font-size: 30px;
  width: 200px;
  height: 40px;
}

.hint-button {
  font-size: 30px;
  width: 150px;
  height: 40px;
}

.category-select {
  font-size: 30px;
}

.home {
  background-color: #282c34;
  color: #fff
}


/* NAVBAR STYLING */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


/*  PROGRESS BAR */
.progress-bar {
  height: 50px;
  background-color: #fff; /* White background */
  overflow: hidden;
}

.progress-bar-inner {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  color: #fff;
  transition: width .5s ease; /* CSS transition for smooth width change */
}

.progress-bar-inner.green {
  background-color: #4caf50; /* Green color for progress */
}

.progress-bar-inner.red {
  background-color: #e74c3c; /* Red color when time is almost zero */

}